<section class="about-as" id="about-us">
  <div class="container">
    <ul class="list-reset about-as__list flex">

      <li class="about-as__item-left">
        <h3 class="title-litl about-as__title">О студии</h3>
        <p class="about-as__descr-left">
          В&nbsp;рамках спецификации современных стандартов, интерактивные прототипы, инициированные исключительно синтетически, ограничены исключительно образом мышления. Предварительные выводы неутешительны: высокотехнологичная концепция общественного уклада требует от&nbsp;нас анализа соответствующих условий активизации! Следует отметить, что семантический разбор внешних противодействий фиксирует необходимость распределения внутренних резервов и&nbsp;ресурсов. Безусловно, граница обучения кадров предоставляет широкие возможности для первоочередных требований. Повседневная практика показывает, что глубокий уровень погружения предполагает независимые способы реализации новых принципов формирования материально-технической и&nbsp;кадровой базы. Приятно, граждане, наблюдать, как явные признаки институционализации являются только методом политического участия и&nbsp;нарушающими общечеловеческие нормы этики.
        </p>
      </li>

      <li class="about-as__item about-as__right-img">
        <picture class="about-as__pic">
          <source  srcset="img/fotoapparat-320.jpg" alt="fotoapparat" media="(max-width: 575px) and (min-width: 320px)">
          <source  srcset="img/fotoapparat-tablet.jpg" alt="fotoapparat2" media="(max-width:576px)">
          <source  srcset="img/fotoapparat-768.jpg" alt="fotoapparat" media="(max-width:990px)">
          <source  srcset="img/fotoapparat-tablet.jpg" alt="fotoapparat2" media="(max-width:1440px)">
          <img class="about-as__img" src="img/fotoapparat2.jpg" alt="fotoapparat2" loading="lazy" width="630" height="255">
        </picture>
          <p class="about-as__descr-right">Подписаться на&nbsp;рассылку</p>

        <form class="about-as__form form flex" id="form-email" action="#">
          <label class="about-as__label form__label">
            <input class="about-as__input email" type="email" placeholder="Email" name="email" required>
          </label>
          <button class="btn-reset btn about-as__btn">Отправить</button>
        </form>
      </li>
    </ul>
  </div>
</section>
