<section class="projects" id="projects">
  <div class="container">
    <h3 class="title-litl projects__title">Наши проекты</h3>
    <ul class="list-reset projects__list">
        <li class="projects__item projects__item-top projects__item1">
            <a href="#" class="work__birka projects__birca" target="_blank">#пейзаж</a>
            <p class="projects__descr clip">
              Синтетически, смешаны с&nbsp;не&nbsp;уникальными данными до&nbsp;степени...
            </p>
            <span>
              <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_41399_393)">
                <path d="M11.6666 1.74992H11.0833V0.583252H9.91663V1.74992H4.08329V0.583252H2.91663V1.74992H2.33329C1.69163 1.74992 1.16663 2.27492 1.16663 2.91659V12.2499C1.16663 12.8916 1.69163 13.4166 2.33329 13.4166H11.6666C12.3083 13.4166 12.8333 12.8916 12.8333 12.2499V2.91659C12.8333 2.27492 12.3083 1.74992 11.6666 1.74992ZM11.6666 12.2499H2.33329V4.66658H11.6666V12.2499Z" fill="#999999"/>
                </g>
                <defs>
                <clipPath id="clip0_41399_393">
                <rect width="14" height="14" fill="white"/>
                </clipPath>
                </defs>
                </svg>
                <span class="projects__description">16&nbsp;июня</span>
            </span>
        </li>

        <li class="projects__item projects__item-top projects__item2">
          <a href="#" class="work__birka projects__birca" target="_blank">#портрет</a>
            <p class="projects__descr clip">
              В&nbsp;своём стремлении улучшить опыт мы&nbsp;упускаем, что явные...
            </p>
            <span>
              <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_41399_393)">
                <path d="M11.6666 1.74992H11.0833V0.583252H9.91663V1.74992H4.08329V0.583252H2.91663V1.74992H2.33329C1.69163 1.74992 1.16663 2.27492 1.16663 2.91659V12.2499C1.16663 12.8916 1.69163 13.4166 2.33329 13.4166H11.6666C12.3083 13.4166 12.8333 12.8916 12.8333 12.2499V2.91659C12.8333 2.27492 12.3083 1.74992 11.6666 1.74992ZM11.6666 12.2499H2.33329V4.66658H11.6666V12.2499Z" fill="#999999"/>
                </g>
                <defs>
                <clipPath id="clip0_41399_393">
                <rect width="14" height="14" fill="white"/>
                </clipPath>
                </defs>
                </svg>
                <span class="projects__description">28&nbsp;мая</span>
            </span>
        </li>

        <li class="projects__item projects__item-top projects__item3">
          <a href="#" class="work__birka projects__birca" target="_blank">#предмет</a>
            <p class="projects__descr clip clip-descr">
              Равным образом, высокое качество позиционных высокотехнологичная концепция общественного уклада
            </p>
            <span>
              <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_41399_393)">
                <path d="M11.6666 1.74992H11.0833V0.583252H9.91663V1.74992H4.08329V0.583252H2.91663V1.74992H2.33329C1.69163 1.74992 1.16663 2.27492 1.16663 2.91659V12.2499C1.16663 12.8916 1.69163 13.4166 2.33329 13.4166H11.6666C12.3083 13.4166 12.8333 12.8916 12.8333 12.2499V2.91659C12.8333 2.27492 12.3083 1.74992 11.6666 1.74992ZM11.6666 12.2499H2.33329V4.66658H11.6666V12.2499Z" fill="#999999"/>
                </g>
                <defs>
                <clipPath id="clip0_41399_393">
                <rect width="14" height="14" fill="white"/>
                </clipPath>
                </defs>
                </svg>
                <span class="projects__description">14&nbsp;мая</span>
            </span>
        </li>

        <li class="projects__item projects__item-top2">
          <a href="#" class="work__birka projects__birca" target="_blank">#fuji</a>
            <span class="projects__span">
              <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_41399_393)">
                <path d="M11.6666 1.74992H11.0833V0.583252H9.91663V1.74992H4.08329V0.583252H2.91663V1.74992H2.33329C1.69163 1.74992 1.16663 2.27492 1.16663 2.91659V12.2499C1.16663 12.8916 1.69163 13.4166 2.33329 13.4166H11.6666C12.3083 13.4166 12.8333 12.8916 12.8333 12.2499V2.91659C12.8333 2.27492 12.3083 1.74992 11.6666 1.74992ZM11.6666 12.2499H2.33329V4.66658H11.6666V12.2499Z" fill="#999999"/>
                </g>
                <defs>
                <clipPath id="clip0_41399_393">
                <rect width="14" height="14" fill="white"/>
                </clipPath>
                </defs>
                </svg>
                <span class="projects__description projects__span">9&nbsp;апреля</span>
            </span>
            <h4 class="projects__title-top2">Cемантический разбор</h4>
            <p class="projects__descr projects__descr2">
              В&nbsp;рамках спецификации современных стандартов, интерактивные прототипы
            </p>
            <a href="#" class="btn projects__btn" target="_blank">О&nbsp;проекте</a>
        </li>

        <li class="projects__item projects__item-bottom projects__item-mobile">
          <a href="#" class="work__birka projects__birca" target="_blank">#проектзабвение</a>
            <span class="projects__span">
              <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_41399_393)">
                <path d="M11.6666 1.74992H11.0833V0.583252H9.91663V1.74992H4.08329V0.583252H2.91663V1.74992H2.33329C1.69163 1.74992 1.16663 2.27492 1.16663 2.91659V12.2499C1.16663 12.8916 1.69163 13.4166 2.33329 13.4166H11.6666C12.3083 13.4166 12.8333 12.8916 12.8333 12.2499V2.91659C12.8333 2.27492 12.3083 1.74992 11.6666 1.74992ZM11.6666 12.2499H2.33329V4.66658H11.6666V12.2499Z" fill="#999999"/>
                </g>
                <defs>
                <clipPath id="clip0_41399_393">
                <rect width="14" height="14" fill="white"/>
                </clipPath>
                </defs>
                </svg>
                <span class="projects__description projects__span">20&nbsp;марта</span>
            </span>
            <h4 class="projects__title-top2">Забвение</h4>
            <p class="projects__descr projects__descr2 projects__descr2-mobile">
              Играет важную роль в&nbsp;формировании глубокомысленных рассуждений
            </p>
            <a href="#" class="btn projects__btn" target="_blank">О&nbsp;проекте</a>
        </li>

        <li class="projects__item projects__item-bottom__right1">
          <a href="#" class="work__birka projects__birca" target="_blank">#ретушь</a>
            <p class="projects__descr clip2">
              Как принято считать, многие известные личности и&nbsp;по&nbsp;сей день остаются уделом либералов...
            </p>
            <span>
              <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_41399_393)">
                <path d="M11.6666 1.74992H11.0833V0.583252H9.91663V1.74992H4.08329V0.583252H2.91663V1.74992H2.33329C1.69163 1.74992 1.16663 2.27492 1.16663 2.91659V12.2499C1.16663 12.8916 1.69163 13.4166 2.33329 13.4166H11.6666C12.3083 13.4166 12.8333 12.8916 12.8333 12.2499V2.91659C12.8333 2.27492 12.3083 1.74992 11.6666 1.74992ZM11.6666 12.2499H2.33329V4.66658H11.6666V12.2499Z" fill="#999999"/>
                </g>
                <defs>
                <clipPath id="clip0_41399_393">
                <rect width="14" height="14" fill="white"/>
                </clipPath>
                </defs>
              </svg>
              <span class="projects__description">9&nbsp;марта</span>
            </span>
        </li>

        <li class="projects__item projects__item-bottom__right2">
          <a href="#" class="work__birka projects__birca" target="_blank">#портрет</a>
            <p class="projects__descr clip2">
              С&nbsp;учётом сложившейся международной обстановки, новая модель организационной...
            </p>
            <span>
              <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_41399_393)">
                <path d="M11.6666 1.74992H11.0833V0.583252H9.91663V1.74992H4.08329V0.583252H2.91663V1.74992H2.33329C1.69163 1.74992 1.16663 2.27492 1.16663 2.91659V12.2499C1.16663 12.8916 1.69163 13.4166 2.33329 13.4166H11.6666C12.3083 13.4166 12.8333 12.8916 12.8333 12.2499V2.91659C12.8333 2.27492 12.3083 1.74992 11.6666 1.74992ZM11.6666 12.2499H2.33329V4.66658H11.6666V12.2499Z" fill="#999999"/>
                </g>
                <defs>
                <clipPath id="clip0_41399_393">
                <rect width="14" height="14" fill="white"/>
                </clipPath>
                </defs>
              </svg>
              <span class="projects__description">1&nbsp;марта</span>
            </span>
        </li>
    </ul>
  </div>
</section>
