<section class="work">
  <div class="container work__container">

    <div class="work__left-content">
      <a href="#" class="work__birka" target="_blank">#мастеркласс</a>
      <p class="work__descr">Мастер-класс от&nbsp;Игоря Робова</p>
      <h1 class="work__title">Неоновый фотосет 2.0 7&nbsp;июля 20:00</h1>
      <a href="#" class="btn work__btn" target="_blank">Узнать больше</a>
    </div>

    <div class="work__right-content">
      <h3 class="work__title-mini">Работы участников предыдущего мастер-класса</h3>

        <ul class="list-reset work__foto">
          <li class="work__foto-small work__foto1">
            <picture class="image">
              <source srcset="img/girl320.jpg" media="(max-width: 575px) and (min-width: 320px)">
              <source srcset="img/girl1-768.jpg" media="(max-width:768px)">
              <!--<source srcset="img/girl1-tablet.jpg" media="(max-width:1440px)">-->
              <img class="work__pic" src="img/girl1.jpg" alt="foto1">
            </picture>
          </li>

          <li class="work__foto-small work__foto2">
            <picture class="image">
              <source srcset="img/girl2-320.jpg" media="(max-width: 575px) and (min-width: 320px)">
              <source srcset="img/girl2-768.jpg" media="(max-width:768px)">
              <!--<source srcset="img/girl21440.jpg" media="(max-width:1440px)">-->
              <img class="work__pic" src="img/girl2.jpg" alt="foto2">
            </picture>
          </li>

          <li class="work__foto-small work__foto2 work__foto-item">
            <picture class="image">
              <source srcset="img/girl3-320.jpg" media="(max-width: 575px) and (min-width: 320px)">
              <source srcset="img/girl3-768.jpg" media="(max-width:768px)">
              <!--<source srcset="img/girl31440.jpg" media="(max-width:1440px)">-->
              <img class="work__pic" src="img/girl3.jpg" alt="foto3">
            </picture>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
